$background-main: #F9FBC5;
$background-second: #08720B;
$background-third: #ffffff;
$hover: #0b410d;
$hover-second: #0b410d;
$text-color: #F9FBC5;
$text-color-second: #0b410d;

$tablet-width: 640px;
$laptop-width: 1024px;
$desktop-width: 1360px;