.aboutme {
  @include paddings;
  padding-top: 30px;
}

.aboutme__title {
  @include titles;
  margin-bottom: 15px;
}

.aboutme__p {
  @include text;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.aboutme__subtitle {
  color: $text-color;
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 300;
}

.aboutme__item {
  @include text;
  margin-bottom: 8px;
}

.aboutme__block--background {
  margin-top: 15px;
  background-color: $background-third;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

@media (min-width:$tablet-width) {
  .aboutme__item {
    margin-bottom: 10px;
  }

  .aboutme__block--background {
    width: 80%;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 15px;
    margin-top: 25px;
  }

  .aboutme__p {
    margin-bottom: 15px;
    padding-right: 20%;
  }
}

@media (min-width:$laptop-width) {
  .aboutme {
    padding-top: 50px;
  }

  .aboutme__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;
  }

  .aboutme__block {
    width: 48%;
  }

  .aboutme__block--background {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .aboutme__item {
    padding-right: 0;
  }

  .aboutme__block:last-child {
    margin-top: 0;
  }
}