.projects {
  @include paddings;
  padding-top: 30px;
}

.projects__title {
  @include titles;
  color: $text-color-second;
  margin-bottom: 15px;
}

.projects__card {
  position: relative;
}

.projects__link {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-second;
  color: $text-color;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 15px;
  position: relative;
  box-shadow: inset 0 0 30px $text-color-second;
  z-index: 10;

  &:hover {
    background-color: $hover;
    transition: ease-in-out 0.3s;
  }

  &:active {
    color: rgba($text-color, 0.3);
    transition: 0s;
  }
}

.projects__inner {
  background-color: $background-third;
  width: 100%;
  border-radius: 15px;
  position: absolute;
  left: 0;
  bottom: -22%;
  z-index: 5;
  animation-name: tohidden;
  transition: ease-in-out;
  border: 1px solid $text-color-second;
}

.projects__inner--open {
  transition: ease-in-out;
  z-index: 15;
}

.projects__p {
  @include text;
  color: $text-color-second;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 18px;
  padding-bottom: 5px;
}

.projects__btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5%;
  padding-left: 5%;
  width: 100%;
  text-align: center;
  color: $text-color-second;
  font-size: 15px;
  font-weight: 700;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  &:hover {
    color: rgba($text-color-second, 0.8);
    transition: ease-in-out 0.3s;
  }

  &:active {
    color: rgba($text-color-second, 0.3);
    transition: 0s;
  }
}

.projects__block {
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width:$tablet-width) {
  .projects__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .projects__title {
    width: 100%;
    margin-bottom: 15px;
  }

  .projects__block {
    width: 48%;
  }

  .projects__p {
    font-size: 15px;
  }
}

@media (min-width:$laptop-width) {
  .projects__block {
    width: 32%;
  }
}